body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: rgb(129, 105, 223);
  background-attachment: fixed;
}

header
 {
  background-color: #b32764;
  color: #ffffff;
  text-align: center;
  padding: 5px 0;
  text-decoration-color: beige;
}

.description {
  margin: 30px;
}

nav {
  background-color: #b32764;
  }
  ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  text-align: center; /* Центрирует текст внутри элемента */
 
  }
  li {
  display: inline;
  margin-right: 20px; /* Расстояние между пунктами меню */
  }
  li a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 10px 20px;
  text-decoration: none;
  font-size: 30px;
  }
  li a:hover {
  background-color: #bd0000;
  }
  
  .center-block{
    width: 300px;
    height: 300px;
    background-color: #f1f1f1;
    position: fixed;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    }
    
    .center-block img {
    display: none;
    width:  100%;
    height: 100%;
    }
    
    .center-block img.active {
    display: block;
    }