body {
    background-color: rgb(129, 105, 223);
}
.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  background-color: rgba(64, 23, 107, 0.5);
  text-align: center;
  padding: 40px;
  margin: 50px auto 50px auto;
  border-radius: 27px;
  border: 5px solid rgb(255, 255, 255);
  max-width: 1000px;
  width: 100%;
}
h1, h2{
  color: #ffffff;
  font-size: 30px;
}

.btn-class{
  padding: 20px;
  max-width: 120px;
  width: 100%;
  background-color: #b32764;
  border-radius: 30px;
  transition: transform 1s ease, background-color 1s ease;
  }
.btn-class:hover{
    background-color: rgb(143, 2, 2);
    transform: scale(1.1);
}
a{
  color: white;
  text-decoration: none;
  font-size: 25px;
  }
img{
  width: 240px;
  height: 240px;
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid black;
  transition: transform 0.6s ease,  border 0.8s ease;
  }
img:hover{
  transform: scale(1.2);
  border: 3px solid #b32764;
}
.container p{
  text-align: justify;
  color: white;
  font-weight: 550;
  font-size: 24px;
  line-height: 150%;
  max-width: 750px;
  width: 100%;
}
video{
  margin: auto;
  border-radius: 45px;
  max-width: 500px;
  height: 400px;
  border: 6px solid beige;
}
@media(max-width:768px){
    .container{
      width: 85%;
    }
    .container h1{
      font-size: 25px;
    }
    .container img{
      max-width: 210px;
      height: 210px;
    }
    .container p{
      font-size: 20px;
      max-width: 500px;
    }
    video{
      max-width: 450px;
      height: 350px;
  }
    .btn-class{
      padding: 18px;
    }
    .btn-class a{
      font-size: 22px;
    }
}
@media(max-width:580px){
  .container h1{
    font-size: 22px;
  }
  .container img{
    max-width: 200px;
    height: 200px;
  }
  .container p{
    font-size: 19px;
    max-width: 350px;
  }
  video{
    max-width: 410px;
    height: 310px;
}
}
@media(max-width:460px){
  .container h1{
    font-size: 20px;
  }
  .container img{
    max-width: 190px;
    height: 190px;
  }
  .container p{
    font-size: 18px;
    max-width: 340px;
  }
  video{
    max-width: 390px;
    height: 290px;
  }
}
@media(max-width:390px){
  .container h1{
    font-size: 18px;
  }
  .container img{
    max-width: 180px;
    height: 180px;
  }
  .container p{
    font-size: 17px;
    max-width: 220px;
  }
  video{
    max-width: 360px;
    height: 260px;
  }
  .btn-class{
    padding: 15px;
  }
  .btn-class a{
    font-size: 20px;
  }
}