body {
    background-color: rgb(129, 105, 223);
}
.container {
    background-color: rgba(64, 23, 107, 0.5);
    border-radius: 30px;
    margin: 60px auto 60px auto;
    padding: 20px;
    max-width: 1200px;
    width: 100%;
    border: 5px solid rgb(255, 255, 255);
}
h1 {
    text-align: center;
    color: #ffffff;
    font-size: 30px;
    padding: 5px;
}
.characters{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    margin: 30px auto;
    background-color:#d3d3d3;
    max-width: 1000px;
    padding: 45px 40px;
    border-radius: 25px;
    gap: 30px;
}
.character{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 700px;
    width: 100%;
    margin: 0 auto;

}
.border{
    height: 4px;
    background-color: #ffffff;   
}
.profile-img {
    max-width: 190px;
    width: 100%;
    height: 190px;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid black;
    transition: transform 0.6s ease, border 0.8s ease;
}
.profile-img:hover {
    transform: scale(1.2);
    border: 3px solid #b32764;
}
.character span{
    font-size: 22px;
    font-weight: bold;
}
.btn-details {
    background-color: #b32764;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 60px;
    transition: transform 1s ease, background-color 1s ease;
}
.btn-details:hover {
    background-color: rgb(143, 2, 2);
    transform: scale(1.2);
}
@media (max-width: 768px) {
    .container{
        width: 90%;
    }
    h1 {
        font-size: 20px;
    }
    .characters{
        padding: 35px 30px;
    }
    .character span{
        font-size: 18px;
        text-align: center;
    }
    .profile-img {
        width: 130px;
        height: 130px; 
    }

    .btn-details {
        padding: 13px; 
        font-size: 17px; 
    }
}
@media (max-width: 650px){
    h1 {
        font-size: 19px;
    }
    .characters{
        padding: 30px 25px;
    }
    .character span{
        font-size: 16px;
        line-height: 140%;
    }
    .profile-img {
        width: 125px;
        height: 125px; 
    }
    .btn-details {
        padding: 12px; 
        font-size: 16px; 
    }
}
@media(max-width:580px){
    h1 {
        font-size: 18px;
    }
    .characters{
        padding: 20px 15px;
    }
    .character span{
        font-size: 15px;
    }
    .profile-img {
        width: 120px;
        height: 120px; 
    }
    .btn-details {
        padding: 11px; 
        font-size: 15px; 
    }
}
@media(max-width:520px){
    h1 {
        font-size: 18px;
    }
    .character span{
        font-size: 13px;
    }
    .profile-img {
        width: 110px;
        height: 110px; 
    }
    .btn-details {
        padding: 10px; 
        font-size: 14px; 
    }
}
@media(max-width:460px){
    h1 {
        font-size: 17px;
    }
    .character span{
        font-size: 12px;
    }
    .profile-img {
        width: 105px;
        height: 105px; 
    }
    .btn-details {
        padding: 8px; 
        font-size: 12px; 
    }
}
@media(max-width:400px){
    h1 {
        font-size: 16px;
    }
    .characters{
        padding: 10px;
    }
    .character span{
        font-size: 11px;
    }
    .profile-img {
        width: 95px;
        height: 95px; 
    }
    .btn-details {
        padding: 8px; 
        font-size: 11px; 
    }
}