body{
    background: linear-gradient(to bottom, #1D061F, #542657, #1D061F);
}
.container{
    color: #ffffff;
    text-align: center;
    max-width: 100%;
    min-height: 400px;
    height: 100%;
    position: relative;
    display: flex;
}
.container::before {
    content: "";
    top: 0; 
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: url('https://steamuserimages-a.akamaihd.net/ugc/2156721410392100013/4648AE8C5B2EF31C118EAE950408CE4E025A452B/?imw=512&amp;imh=288&amp;ima=fit&amp;impolicy=Letterbox&amp;imcolor=%23000000&amp;letterbox=true');
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
    opacity: 0.45;
    z-index: 1;
}
.text{
    max-width: 1200px;
    margin: auto;
    position: relative;
    z-index: 2;
    flex-direction: column;
    display: flex;
    gap: 40px;
    line-height: 190%;
    justify-content: center;
    align-items: center;
}
.container p{
    font-size: 25px;
    font-weight: 600;
}
.container h1{
    font-size: 32px;
}
.img-block{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    margin: 40px auto 40px auto;
}
.center-block{
    width: 280px;
    height: 280px;
    background-color: #a673aa;
    padding: 20px;
    box-shadow: 14px 12px 5px rgba(0, 0, 0, 0.55);
    border-radius: 30px;
    transition: transform 0.7s ease;
}
.center-block:hover{
    transform: scale(1.1);
}    
.center-block img {
    display: none;
    width:  100%;
    height: 100%;
    border-radius: 15px;
    border: 3px solid #421145;
    }
    
.center-block img.active {
    display: block;
    }
.footer-text{
    padding: 0 30px;
    max-width: 900px;
    text-align: center;
    width: 100%;
    margin: auto;
    color: #ffffff;
}
.footer-text span{
    font-size: 30px;
    font-weight: 550;
}
.footer-text p{
    margin-top: 20px;
    font-size: 25px;
    text-align: justify;
    line-height: 140%;
}
.footer-text a{
    display: inline-block;
    font-size: 28px;
    color: #A94EAE;
    font-style: italic;
    transition: all 1s ease;
}
.footer-text a:hover{
    transform: scale(1.2);
    color: #9c0049;
}

@media(max-width:768px){
    .text{
        gap: 15px;
        line-height: 150%;
        width: 100%;
        margin: auto 20px;
    }
    .text h1{
        font-size: 25px;
    }
    .text p{
        font-size: 20px;
    }
    .img-block{
        gap: 30px;
    }
    .center-block{
        width: 200px;
        height: 200px;
        padding: 10px;
        border-radius: 25px;
    }
    .footer-text span{
        font-size: 25px;
    }
    .footer-text p{
        margin-top: 15px;
        font-size: 20px;
    }
    .footer-text a{
        font-size: 24px;
    }
}
@media(max-width:490px){
    .text h1{
        font-size: 22px;
    }
    .text p{
        font-size: 18px;
    }
    .text p:last-child{
        display: none;
    }
    .img_block{
        gap: 30px; 
    }
    .center-block{
        width: 220px;
        height: 220px;
        border-radius: 20px;
    }
}
@media(max-width:390px){
    .center-block{
        width: 190px;
        height: 190px;
        padding: 10px;
    }
    .footer-text span{
        font-size: 20px;
    }
    .footer-text p{
        font-size: 18px;
    }
    .footer-text a{
        font-size: 20px;
    }
}
@media(max-width: 360px){
    .container{
        padding: 20px 0;
    }
}